@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:400,700');

$white: #FFFFFF;
$yellow: #F5C518;
$grey-dark: #262624;
$grey: #333333;
$blue-light: #AAFFFF;

$primary: $yellow;
$text: $white;
$title-color: $primary;
$subtitle-color: $white;
$link: $primary;
$link-hover: $primary;
$navbar-item-hover-background-color: inherit;

$family-sans-serif: "Source Sans Pro", sans-serif;
$body-background-color: $grey-dark;
$navbar-background-color: $grey;
$footer-background-color: $grey;

@import "../imdbpy-bulma/sass/utilities/_all.sass";
@import "../imdbpy-bulma/sass/base/_all.sass";
@import "../imdbpy-bulma/sass/layout/_all.sass";
@import "../imdbpy-bulma/sass/elements/button.sass";
@import "../imdbpy-bulma/sass/elements/container.sass";
@import "../imdbpy-bulma/sass/elements/title.sass";
@import "../imdbpy-bulma/sass/components/level.sass";
@import "../imdbpy-bulma/sass/components/navbar.sass";
