{
  "extends": [
    "stylelint-stylistic/config",
    "stylelint-config-property-sort-order-smacss"
  ],
  "rules": {
    "stylistic/indentation": 2,
    "rule-empty-line-before": [
      "always",
      {
        "except": [
          "first-nested"
        ]
      }
    ],
    "at-rule-empty-line-before": [
      "always",
      {
        "except": [
          "first-nested",
          "blockless-after-same-name-blockless"
        ]
      }
    ],
    "stylistic/block-opening-brace-space-before": "always",
    "stylistic/block-opening-brace-newline-after": "always",
    "stylistic/block-closing-brace-newline-before": "always",
    "stylistic/declaration-colon-space-before": "never",
    "stylistic/declaration-colon-space-after": "always",
    "stylistic/declaration-block-semicolon-newline-after": "always",
    "stylistic/declaration-block-trailing-semicolon": "always"
  }
}
