body {
  letter-spacing: 0.2px;
}

article .title:not(:last-child) {
  margin-bottom: 0.25rem;
}

article header {
  margin-bottom: 1rem;
}

pre {
  background: #0D161A;
  border: 1px solid #30302F;
  border-radius: 6px;
  padding: 0 1.25rem;
}

.microlight {
  color: #8FC0CC;
}

.navbar {
  border-bottom: 1px solid lighten($grey-darker, 5%);
}

.navbar-item {
  margin-right: 1rem;
  text-transform: uppercase;
}

.navbar-item.is-active:before,
.navbar-item:hover:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 3rem;
  height: 2px;
  background: $primary;
}

:not(header) > .title {
  position: relative;
  padding-bottom: 5px;
}

:not(header) > .title:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 3rem;
  height: 4px;
  background: $grey;
}

.button {
  border-radius: 2px;
}

.buttons .button:not(:last-child):not(.is-fullwidth) {
  margin-right: 1.25rem;
}

.button.is-primary:hover {
  background-color: $link-hover;
}

.button.is-primary:active {
  background-color: $link-active;
}

.section section {
  margin-top: 2rem;
}

#logo {
  color: $primary;
  font-size: 2em;
  font-weight: $weight-bold;
  text-transform: none;
}

#intro {
  font-size: 1.5em;
  color: $white;
  margin-top: 4rem;
}

#github:hover path:nth-child(2),
#twitter:hover path:nth-child(2) {
  fill-opacity: 0.9;
  fill: $primary;
}

#official-packages td:not(:last-child) {
  white-space: nowrap;
}
