{% extends "layout.html" %}

{% block body %}
{{ this.body }}

{% set news_items = site.query('/news').filter((F._model == 'news-item').and(F.status != 'expired')).order_by('-date').limit(3) %}
{% if news_items.count() > 0 %}
{%   from "macros/news_item.html" import render_news_item %}
<section>
  <h2>News</h2>
  {% for news_item in news_items %}
    {{ render_news_item(news_item) }}
  {% endfor %}
  <p class="more"><a href="/news/">All news...</a></p>
</section>
{% endif %}

<script src="{{ '/static/microlight.js' | url }}"></script>
{% endblock %}
