{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
{{ this.body }}

{% set newsitems = site.query('/news').filter((F._model == 'newsitem').and(F.status != 'expired')).order_by('-date').limit(3) %}
{% if newsitems.count() > 0 %}
{%   from "macros/newsitem.html" import render_newsitem %}
<section>
  <h1>News</h2>
  {% for newsitem in newsitems %}
    {{ render_newsitem(newsitem) }}
  {% endfor %}
</section>
{% endif %}
<p><a href="/news/">All news</a></p>
{% endblock %}
