{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
{{ this.body }}

{% set newsitems = site.query('/news').filter((F._model == 'newsitem').and(F.status != 'expired')).order_by('-date').limit(3) %}
{% if newsitems.count() > 0 %}
{%   from "macros/newsitem.html" import render_newsitem %}
<section class="section">
  <h1 class="title">News</h1>
  {% for newsitem in newsitems %}
    {{ render_newsitem(newsitem) }}
  {% endfor %}
  <p class="has-text-right is-size-7"><a href="/news/">All news...</a></p>
</section>
{% endif %}
{% endblock %}
