<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>IMDbPY — {% block title %}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="/images/imdbpyico16x16.ico">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:400,700">
  <link rel="stylesheet" href="{{ '/static/main.css'|url }}"/>
</head>

<body>
<header>
<nav aria-label="main navigation">
  <div class="container">
    <a id="logo" class="nav-item{% if this._path == '/' %} nav-item-active{% endif %}" href="{{ '/'|url }}">IMDbPY</a>
    {% for path, label in bag('main-nav').items() %}
    <a class="nav-item{% if this.is_child_of(path) %} nav-item-active{% endif %}" href="{{ path|url }}">{{ label }}</a>
    {% endfor %}
  </div>
</nav>
</header>

<main>
<div class="container">
  {% block body %}{% endblock %}
</div>
</main>

<footer>
  <div class="container">
    <div id="footer-container">
      <div class="footer-item">Website designed by <a href="https://albemala.me/">albemala</a></div>
      <a href="#" class="footer-item footer-icon" id="twitter"></a>
      <a href="#" class="footer-item footer-icon" id="github"></a></div>
  </div>
</footer>

<!-- Google Analytics -->
<script>
    var _gaq = _gaq || [];
    _gaq.push([
        '_setAccount', 'UA-9856159-1'
    ]);
    _gaq.push([
        '_trackPageview'
    ]);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol
                ? 'https://ssl'
                : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>

</body>

</html>
