{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
{{ this.body }}

{% from "macros/project.html" import render_project %}

{% set projects = site.query('/ecosystem').filter(F.kind == 'program').order_by('sort_key') %}
<section class="section">
  <h2 class="title">Programs</h2>

  {% for project in projects %}
    {{ render_project(project) }}
  {% endfor %}
</section>

{% set projects = site.query('/ecosystem').filter(F.kind == 'service').order_by('sort_key') %}
<section class="section">
  <h2 class="title">Services</h2>

  {% for project in projects %}
    {{ render_project(project) }}
  {% endfor %}
</section>

{% set projects = site.query('/ecosystem').filter(F.kind == 'paper').order_by('sort_key') %}
<section class="section">
  <h2 class="title">Papers</h2>

  {% for project in projects %}
    {{ render_project(project) }}
  {% endfor %}
</section>
{% endblock %}
