{% extends "layout.html" %}

{% block body %}
<article>
  <header>
    <h3>Notice</h3>
  </header>
  <div>
    <p>This project and its authors are not affiliated in any way to Internet Movie Database Inc.; see the <a href="https://raw.githubusercontent.com/cinemagoer/cinemagoer/master/DISCLAIMER.txt">disclaimer</a> file for details about data licenses.</p>
  </div>
</article>

{{ this.body }}

{% set projects = this.programs.blocks %}
{% if projects %}
<section>
  <h2>Programs</h2>
  {% for project in projects %}
    {{ project }}
  {% endfor %}
</section>
{% endif %}

{% set projects = this.services.blocks %}
{% if projects %}
<section>
  <h2>Services</h2>
  {% for project in projects %}
    {{ project }}
  {% endfor %}
</section>
{% endif %}

{% set projects = this.papers.blocks %}
{% if projects %}
<section>
  <h2>Papers</h2>
  {% for project in projects %}
    {{ project }}
  {% endfor %}
</section>
{% endif %}
{% endblock %}
