{% extends "layout.html" %}

{% block body %}
{{ this.body }}

{% set projects = this.programs.blocks %}
{% if projects %}
<section>
  <h2>Programs</h2>
  {% for project in projects %}
    {{ project }}
  {% endfor %}
</section>
{% endif %}

{% set projects = this.services.blocks %}
{% if projects %}
<section>
  <h2>Services</h2>
  {% for project in projects %}
    {{ project }}
  {% endfor %}
</section>
{% endif %}

{% set projects = this.papers.blocks %}
{% if projects %}
<section>
  <h2>Papers</h2>
  {% for project in projects %}
    {{ project }}
  {% endfor %}
</section>
{% endif %}
{% endblock %}
