html {
  background-color: #262624;
}

body, .subtitle {
  color: #ffffff;
}

header > *, main > *, footer > * {
  max-width: 50em;
  margin: 0 auto;
}

.header, .navbar, .footer {
  background-color: #333333;
}

.navbar .is-active {
  border-bottom: 2px solid #F5C518;
}

.footer {
  padding: 1.5rem;
}

.footer svg {
  filter: invert(50%);
}

.navbar-menu .navbar-item {
  text-transform: uppercase;
}

.is-primary, .has-text-primary {
  color: #F5C518 !important;
}

.has-background-primary {
  background-color: #F5C518 !important;
}
